In [1]:
# Dependencies
# ----------------------------------
# Imports the method used for connecting to DBs
from sqlalchemy import create_engine

# Import PyMySQL (Not needed if mysqlclient is installed)
import pymysql
pymysql.install_as_MySQLdb()

# Imports the methods needed to abstract classes into tables
from sqlalchemy.ext.declarative import declarative_base

# Allow us to declare column types
from sqlalchemy import Column, Integer, String, Float

import pandas as pd

In [2]:
# Import the CSV
filename = ('clean_hawaii_measurements.csv')
measurements_df = pd.read_csv(filename)

In [3]:
measurements_df.head()

   Unnamed: 0      station        date  prcp  tobs
0           0  USC00519397  2010-01-01  0.08    65
1           1  USC00519397  2010-01-02  0.00    63
2           2  USC00519397  2010-01-03  0.00    74
3           3  USC00519397  2010-01-04  0.00    76
4           4  USC00519397  2010-01-06  0.00    73

In [4]:
# Import the other CSV
filename2 = ('clean_hawaii_stations.csv')
stations_df = pd.read_csv(filename2)

In [5]:
#Preview the df
stations_df.head()

,Unnamed: 0,station,name,latitude,longitude,elevation
0,0,USC00519397,"WAIKIKI 717.2, HI US",21.2716,-157.8168,3.0
1,1,USC00513117,"KANEOHE 838.1, HI US",21.4234,-157.8015,14.6
2,2,USC00514830,"KUALOA RANCH HEADQUARTERS 886.9, HI US",21.5213,-157.8374,7.0
3,3,USC00517948,"PEARL CITY, HI US",21.3934,-157.9751,11.9
4,4,USC00518838,"UPPER WAHIAWA 874.3, HI US",21.4992,-158.0111,306.6

In [6]:
# Sets an object to utilize the default declarative base in SQL Alchemy
Base = declarative_base()

In [7]:
# Create the table for the measurement data

class measurements(Base):
    __tablename__ = 'measurements'
    id = Column(Integer, primary_key=True)
    #Unnamed:0 = Column(Integer)
    station = Column(String(255))
    date = Column(String(255))
    prcp = Column(Float)
    tobs = Column(Integer)

In [8]:
# Create the table for the station data

class stations(Base):
    __tablename__ = 'stations'
    id = Column(Integer, primary_key=True)
    #Unnamed:0 = Column(Integer)
    station = Column(String(255))
    date = Column(String(255))
    name = Column(String(255))
    latitude = Column(Float)
    longitude = Column(Float)
    elevation = Column(Float)

In [9]:
engine = create_engine('mysql://nzy1o92e6xyof5rs:qhuod1t7hq67ctvi@edo4plet5mhv93s3.cbetxkdyhwsb.us-east-1.rds.amazonaws.com:3306/ozv9uen77jjmjl32', echo = False)
#engine = create_engine("sqlite:///hawaii.sqlite")
conn = engine.connect()

In [10]:
# Create a "Metadata" Layer That Abstracts our SQL Database
# ----------------------------------
# Create (if not already in existence) the tables associated with our classes.
Base.metadata.create_all(engine)

# Create a Session Object to Connect to DB
# ----------------------------------
# Session is a temporary binding to our DB
from sqlalchemy.orm import Session
session = Session(bind=engine)

In [11]:
# Populate the measurements table in SQL
measurements_df.to_sql('measurements', engine, if_exists='replace', index = id)

In [12]:
# Populate the stations table in SQL
stations_df.to_sql('stations', engine, if_exists='replace', index = id)

In [13]:
session.commit()